<header>
    <figure><img class="img-header" src="./img/Logo.png" /></figure>

    <form action="/login" method="get" class="form-header">
        <nav>
            <ul>
                <li><button class="btn-header">Log In</button></li>
                <li><button class="btn-header btn-border">Sign Up</button></li>
            </ul>
        </nav>
    </form>
</header>