<%-include('./partials/head')-%>
<header>
    <figure><img class="img-header" src="./img/Logo.png" /></figure>
        <nav>
            <ul>              
                <li><a class="btn-header" href="/login">Log In</a></li>
                <li><a class="btn-header" href="/register">Sign Up</a></li>
            </ul>
        </nav>
</header>
<scrip>

</scrip>