<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <form action="/login" method="post">
        <div class="img">
          <img src="img/logo.png" alt="" />
        </div>
        <label class="item-form" for="">Email</label>
        <input
          class="item-form"
          name="username"
          placeholder="Email"
          type="email"
        />
        <label class="item-form" for="">Password</label>
        <input
          class="item-form"
          name="password"
          placeholder="Password"
          type="password"
        />
        <input id="btn-submit" class="item-form" type="submit" />
        <a id="a-register" href="./register">Register</a>
      </form>
    </div>
  </body>
</html>
