<!DOCTYPE html>
<%-include('./partials/head')-%>
	<body>
		<header>
			<figure><img class="img-header" src="./img/Logo.png" /></figure>

				<nav>
					<ul>
                        <li> <span> </span> </li>
                        <li><a class="btn-header" href="/signout">Sign Out</a></li>
					</ul>
				</nav>
		</header>
		<div class="wellcome"><h1>Logeado!</h1></div>
	</body>
</html>
